@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
body{
	background-color: #111114;
	margin: auto 0;
}

.nav{
	min-width: 200px;
	min-height: 60px;
	width: 100%;
	height: 20%;
	background-color: #141417;
}
.nav .img{
	position: relative;
	width: 150px;
	top: 50%;
	left: 50%;
	margin-top: -10px;
    margin-left: -80px;
}
.welcome{
	margin-top: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	width: 50%;
	font-size: 1.5em;
	color: #3eb557;
}
.text{
	font-family: 'Roboto', sans-serif;
	width: 50%;
	min-width: 400px;
	font-size: 1.2em;
	color: #d9d9d9;
	margin-bottom: 20px;
}
.howto{
	margin-top: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	width: 50%;
	font-size: 1.5em;
	color: #ff3e48;
}
.prizes{
	margin-top: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	width: 50%;
	font-size: 1.5em;
	color: #ffe564;
}
.sales{
	margin-top: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	width: 50%;
	font-size: 1.5em;
	color: #e564ff;
}
.btn{
	outline: none;
	border-width: 1px;
	border-style: solid;
	border-color: #111114;
	font-size: 1em;
	color:#445384;
	font-family: 'Roboto', sans-serif;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
	width: 200px;
	height: 50px;
	background-color: #111114;
}
.btn:hover{
	cursor: pointer;
	border-color: #445384;
	color: #d9d9d9;
}
